[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ggheatmap"]
	path = ggheatmap
	url = https://github.com/xiaoluo-boy/ggheatmap
